h1{
  /*font-size:large;*/
  color: indianred;
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
}
body{
  color: white;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;

}
